.git
.github
.gitignore
.gitattributes
.editorconfig
.phpactor.json
.phpunit.cache
.phpunit.result.cache
.vscode
.idea
.fleet
.nova
.zed

node_modules
vendor

.env
.env.*
!.env.example

storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/framework/testing
/storage/framework/*.php
/storage/api-docs/api-docs.json
/bootstrap/cache/*.php
/public/storage
/public/hot

/tests
/test-results
/docs
/agents

*.md
!README.md
!UPDATE_GUIDE.MD

Dockerfile
Dockerfile.*
docker-compose*.yml
Makefile

phpunit.xml
phpunit.coverage.xml
